:root {
    --unit-100vw: 100vw;
}
@supports (width: 100dvw) {
    :root {
        --unit-100vw: 100dvw;
    }
}




@font-face {
    font-family: "Tektur";
    src: url(Tektur-VariableFont_wdth\,wght.ttf) format(truetype);
    font-style: normal;
    font-weight: 400;
}
body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: "Tektur";
    font-size: 0.9em;
}
::-webkit-scrollbar {
    background-color: transparent;
    width: 0px;
}

.anchor {
    display: block;
    height: 100px; /* oder die Höhe Ihrer Navigation */
    visibility: hidden;
}
header{
    height: 60px;
    width: var(--unit-100vw);
    margin-left: auto;
    margin-right: auto;
    position: sticky;
    top: 0;
    z-index: 100000;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #83ff99;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.521);
}
header > h1{
    font-family: 900;
    text-decoration: underline;
}
.content{
    width: var(--unit-100vw);
    margin-left: auto;
    margin-right: auto;
    border-inline: 1px solid #999;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.225); */
    position: relative;
    top: -70px;
    padding-top: 100px;
    padding-bottom: 100px;
}

h2{
    margin-left: -20px;
    color: rgb(0, 138, 7);
}
h3{
    color: rgb(0, 186, 9);
}
.gefahr{
    color: rgb(255, 0, 0);
}
.Gefahr{
    color: rgb(174, 0, 0);
}

.links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}
.links a{
    text-decoration: none;
    color: black;
    width: 300px;
    background-color: #83ff99;
    /* box-shadow: 1px 1px 2px rgba(0, 138, 7, 0.332); */
    margin: 5px;
    border-radius: 5px;
    padding: 5px;
}
.links a:hover{
    background-color: #6ed982;
}
.links h2{
    margin-bottom: 20px;
}


.Erklärung{
    padding-inline: 50px ;
}


.PhysikalischeGrößen{
    padding-inline: 50px ;
}
table{
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
}
th, td{
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    text-align: center;
}
.einheitszeichen{
    border-right: none;
}
.tr:hover{
    background-color: #eee;
}



.Ausrechnen{
    padding-inline: 50px ;
}
.Dreieckserklärung{
    width: 70%;
}
.URI{
    display: flex;
    flex-direction: row;
}
.DreieckURI{
    height: 100px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
}
.PUI{
    display: flex;
    flex-direction: row;
}
.DreieckPUI{
    height: 100px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
}



.Stromkreise{
    padding-inline: 50px ;
}
.Reihe{
    display: flex;
    flex-direction: row;
}
.Reihenerklärung{
    width: 70%;
}
.Reihenschaltung{
    height: 70px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
}
.Parallel{
    display: flex;
    flex-direction: row;
}
.Parallelerklärung{
    width: 70%;
}
.Parallelschaltung{
    height: 100px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
}




.Schaltzeichen{
    padding-inline: 50px ;
}
.Symbol{
    width: 100px;
}
.Symboltabellenreihe{
    height: 50px;
}





.Messen{
    padding-inline: 50px ;
}
.SpannungMessen{
    display: flex;
    flex-direction: row;
}
.Messen p{
    width: 60%;
}
.VoltMessen{
    height: 100px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
}
.StromstärkeMessen{
    display: flex;
    flex-direction: row;
}
.AmpereMessen{
    height: 80px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
}

#Kosten{
    padding-inline: 50px ;
}
#Kosten p{
    width: 90%;
}
#Kosten_Ergebnis{
    text-decoration: underline;
}




.Quiz1{
    padding-inline: 50px ;
}
.Stromkreisquiz{
    display: flex;
    align-items: center;
}
.Stromkreisquiz img{
    width: 30vw;
    max-width: 200px;
    margin: 30px;
}
.Stromkreisquiz div p{
    font-weight: 700;
}
.Stromkreisquiz div p input{
    font-weight: 700;
    width: 100px;
    border-bottom: 2px solid black;
    text-align: left;
}


.Gefahren{
    padding-inline: 50px ;
}



.Quiz{
    padding-inline: 50px ;
}
.rechterRand{
    border-right: none;
}
.untererRand{
    border-bottom: none;
}
.QuizTabelle{
    margin-left: auto;
    margin-right: auto ;
    margin-top: 40px;
}
input{
    border: none;
    outline: none;
    text-align: center;
    font-family: "Tektur";
}




.Gatter{
    padding-inline: 50px;
}
.Input1{
    height: 5px;
}
.Input2{
    height: 5px;
}
.Inputs{
    translate: 5px;
    height: 80px;
    display: grid;
    align-items: center;
}
.Knöpfe{
    height: 80px;
    display: grid;
    align-items: center;
}
.Knopf{
    border-radius: 50%;
    height: 20px;
    width: 20px;
    border: 2px solid black;
    text-align: center;
}
.Knopf p{
    translate: -1px -2px;
    margin: 0;
    padding: 0;
    cursor: pointer;
}


.Undgatter{
    display: flex;
    flex-direction: column;
}
#Und-Gatter{
    display: flex;
    flex-direction: row;
    height: 80px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
}
.Und-Gatter{
    height: 80px;
    z-index: 2;
}


.Odergatter{
    display: flex;
    flex-direction: column;
}
#Oder-Gatter{
    display: flex;
    flex-direction: row;
    height: 80px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
}
.Oder-Gatter{
    height: 80px;
    z-index: 2;
}


.Notgatter{
    display: flex;
    flex-direction: column;
}
#Not-Gatter{
    display: flex;
    flex-direction: row;
    height: 80px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
}
.Not-Gatter{
    height: 80px;
    z-index: 2;
}

.XOdergatter{
    display: flex;
    flex-direction: column;
}
#XOder-Gatter{
    display: flex;
    flex-direction: row;
    height: 80px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
}
.XOder-Gatter{
    height: 80px;
    z-index: 2;
}


#XOder-Gatter-Vereinfachung{
    height: 300px;
    position: relative;
    margin-top: 100px;
}

@media only screen and (orientation: landscape) {
    .Knöpfe-XOder{
        height: 80px;
        display: grid;
        align-items: center;
        position: absolute;
        top: 167px;
        left: -30px;
    }
    .Gatter-One{
        height: 170px;
        position: absolute;
        top: 20px;
        left: 0;
    }
    .Gatter-Two{
        height: 170px;
        position: absolute;
        top: 60px;
        left: 0;
        z-index: 1;
    }
    .Gatter-Three{
        height: 80px;
        position: absolute;
        top: 167px;
        left: 170px;
        z-index: 2;
    }
    .Gatter-Four{
        height: 150px;
        position: absolute;
        top: 0;
        left: 177px;
        z-index: 2;
    }
    .Gatter-Five{
        height: 88px;
        position: absolute;
        top: 160px;
        left: 290px;
        z-index: 3;
    }
    .Gatter-Six{
        height: 80px;
        position: absolute;
        top: 135px;
        left: 520px;
        z-index: 4;
    }
}
@media only screen and (orientation: portrait) {
    .Gatter{
        margin-bottom: -100px;
    }
    .Knöpfe-XOder{
        height: calc(8.0vw * 1.3);
        display: grid;
        align-items: center;
        position: absolute;
        top: calc(16.7vw * 1.3);
        left: calc(-4.0vw * 1.3);
    }
    .Knöpfe-XOder .Knopf{
        height: calc(3vw * 1.3);
        width: calc(3vw * 1.3);
        font-size: calc(2vw * 1.3);
    }
    .Gatter-One{
        height: calc(17.0vw * 1.3);
        position: absolute;
        top: calc(2.0vw * 1.3);
        left: 0;
    }
    .Gatter-Two{
        height: calc(17.0vw * 1.3);
        position: absolute;
        top: calc(6.0vw * 1.3);
        left: 0;
        z-index: 1;
    }
    .Gatter-Three{
        height: calc(8.0vw * 1.3);
        position: absolute;
        top: calc(16.7vw * 1.3);
        left: calc(17.0vw * 1.3);
        z-index: 2;
    }
    .Gatter-Four{
        height: calc(15.0vw * 1.3);
        position: absolute;
        top: 0;
        left: calc(17.7vw * 1.3);
        z-index: 2;
    }
    .Gatter-Five{
        height: calc(8.8vw * 1.3);
        position: absolute;
        top: calc(16.0vw * 1.3);
        left: calc(29.0vw * 1.3);
        z-index: 3;
    }
    .Gatter-Six{
        height: calc(8.0vw * 1.3);
        position: absolute;
        top: calc(13.5vw * 1.3);
        left: calc(52.0vw * 1.3);
        z-index: 4;
    }
}
.Zusammenfassung{
    padding-inline: 50px ;
}
.Zusammenfassung ul{
    margin-left: 20px;
    list-style-type: "- ";
}
.Zusammenfassung a{
    text-decoration-thickness: 1px;
    text-decoration-color: #6ed982;
    display: inline-block;
}
.Zusammenfassung h3:hover{
    color: #128e29;
}
